---
# Enter any custom Sass in this file.
---
// .heading h4 {
//   color: white;
//   a {
//     display: inline; 
//     color: yellow; 
//     text-decoration: underline;
//   }
// }

#main-content.goal-indicators .indicator-cards a {
  padding: 0;
  margin-bottom: 1.5rem;
}
#main-content.goal-indicators .indicator-cards.target {
  margin-bottom: 1.5rem;
  clear: left;
}

//DASHBOARD accordion
.accordion-header{
background:#1779ba;
color:rgb(241, 241, 241);
font-weight:bold;
font-size:17px;
padding:5px;
text-align: center;
}

#accordion-1{
  text-align:center;
  border:0.5px solid lightgrey;
  padding:10px;
}

.mb-0 > a {
  display: block;
  position: relative;
}
.mb-0 > a:after {
  content: "\f078"; /* fa-chevron-down */
  font-family: 'FontAwesome';
  position: absolute;
  right: 0;
}
.mb-0 > a[aria-expanded="true"]:after {
  content: "\f077"; /* fa-chevron-up */
}
.card-body{
  background-color:#e8f4fc;
  padding:5px;
  color:#646464;
}

//DASHBOARD Chart
.chartImage{
  height:300px;
  width:auto;
}

.slash-1 {
  height: 10px;
  width:100%;
  $color: rebeccapurple;
  color: $color;
  background-image: linear-gradient(-45deg,
    transparent,
    transparent 25%,
    currentColor 25%,
    currentColor 50%,
    transparent 50%,
    transparent 75%,
    currentColor 75%);
  background-size: 10px 10px;
  margin:0;
}

.text-percentages{
  display: inline-block;
  overflow-wrap: break-word;
  width:70%;
}

//Spider Plot CSS

#spiderPlot {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #D3D3D3;
  shape-rendering: crispEdges;
}

.bar {
  opacity: .7;
}

.solidArc:hover {
 opacity: .7 ;
}

.solidArc {
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.x.axis path {
  display: none;
}

.aster-score { 
  line-height: 1;
  font-weight: bold;
  font-size: 200%;
}

.d3-tip {
  line-height: 2;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}
  
